<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c012ef97-c3c3-44dc-8f22-3eb1b5b803ae" name="Sample REST Test Suite_678" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4b194ea-9025-4d1a-bf69-3e4acd860e62fileName">Sample-REST-Test-Suite</con:setting>
    <con:setting id="c012ef97-c3c3-44dc-8f22-3eb1b5b803aefileName">Sample-REST-Test-Suite_678</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
